@model shoppingstore.Models.Category

@{
    ViewBag.Title = "Browse";
}

<h2>Browsing Category:@Model.Name</h2>
<ul>
    @foreach(var item in Model.Items)
    {
        <li>
            @Html.ActionLink(item.Title, "Details",new { id=item.ItemId})
        </li>
    }
</ul>
