@model IEnumerable<shoppingstore.Models.Category>




        @foreach (var category in Model)
        {

            <p class="btn">
                @Html.ActionLink(category.Name, "Browse", "Store", new { Category = category.Name }, null)

                </p>

         }

