@model IEnumerable<shoppingstore.Models.Category>

@{
    ViewBag.Title = "Store";
}

<h2>Browse Category</h2>
<p>

    Select from @Model.Count()
    categories:
</p>
<ul>
    @foreach (var category in Model){
    <li>@Html.ActionLink(category.Name,"Browse",new { category = category.Name })</li>
    }

</ul>
 